body
{
    max-width: 60%;
    margin: auto;
}

h1
{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
}

h2
{
    font-size: 1.25em;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
}

#main-nav
{
    margin-top: 9em;
    display: flex;
    justify-content: space-between;
}

#main-nav-link
{
    font-size: 2em;
    font-family: 'Helvetica';
    font-weight: lighter;
    text-decoration: none;
}

#secondary-nav
{
    display: flex;
    justify-content: space-between;
}

#secondary-nav-link
{
    font-size: 1em;
    font-family: 'Helvetica';
    margin-bottom: 3em;
}

#entry-header
{
    font-family: 'Helvetica';
    font-size: 1.5em;
    font-weight: lighter;
}

#entry-text
{
    font-family: 'Courier';
    font-size: 1.25em;
}

#blog-link
{
    font-family: 'Courier';
}