body
{
    max-width: 60%;
    margin: auto;
}

h1
{
    font-size: 1.5em;
    text-align: left;
}

h2
{
    font-size: 1.25em;
    text-align: left;
}

#main-nav
{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

a
{
    font-size: 2em;
    text-decoration: none;
}