body
{
    max-width: 60%;
    margin: auto;
}

h1
{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
}

h2
{
    font-size: 1.25em;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: lighter;
}

#main-nav
{
    margin-top: 9em;
    display: flex;
    justify-content: space-between;
}

#main-nav-link
{
    font-size: 2em;
    font-family: 'Helvetica';
    font-weight: lighter;
    text-decoration: none;
}

#secondary-nav
{
    display: flex;
    justify-content: space-between;
}

#secondary-nav-link
{
    font-size: 1em;
    font-family: 'Helvetica';
    margin-bottom: 3em;
    text-decoration: none;
}

#entry-header
{
    font-family: 'Helvetica';
    font-size: 1.5em;
    font-weight: lighter;
}

#entry-text
{
    font-family: 'Courier';
    font-size: 1.25em;
}

#blog-link
{
    font-family: 'Courier';
}

a
{
    color: rgb(9, 107, 107);
    text-decoration: none;
    transition: ease-out;
    transition-duration: 0.5s;
}

a:hover
{
    text-shadow: 2px 2px 2px rgb(180, 180, 180);
}

.grid-container
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

grid-item
{
    height: 50px;
    font-family: 'Courier';
    font-weight: lighter;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
}